.react-grid-Grid {
    min-height: 50vh !important;
}

.pdf-viewer {
    height: 50vh !important;
}


#pg-photo-container {
    width: 100% !important;
    height: 100% !important;
}

img {
    width : 100% !important;
    height : 100% !important;
}