.odd {
  background-color: #fffae1 !important;
}
.even {
  background-color: #fffcee !important;

}

.styleSide {
  background-color: #f47e35 !important;
  color: #ffffff !important;
  font-weight: bold;
  line-height: 1.3;
}

.styleSide:hover {
  color: #000000 !important;
}

thead[class*="ant-table-thead"] th{
  background-color: #f47e35 !important;
  color: #ffffff !important;
  font-weight: bold !important;
}