// Variable overrides
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #4aa2ee;
  --secondary: #868e96;
  --success: #77c13a;
  --info: #17a2b8;
  --warning: #e4a93c;
  --danger: #d9534f;
  --light: #f8f9fa;
  --dark: #303840;
  --black: #272c33;
  --accent: #00bcc2;
  --accent-red: #ed0b4c;
  --accent-yellow: #e4a93c;
  --primary-purple: #824ee1;
  --primary-light: #9cf;
  --breakpoint-xs: 0;
  --breakpoint-i8: 374px;
  --breakpoint-i8-plus: 413px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1366px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Poppins", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-family-exo2: "Exo2", Helvetica Neue, Arial, sans-seriff;
}

$navbar-height: 64px !default;
$sidebar-width: 256px !default;

$aside-menu-nav-padding-y: 0 !default;
$aside-menu-nav-padding-x: 0.5rem !default;

$sidebar-nav-color: #acb6bf80 !default;
$sidebar-nav-link-color: #acb6bf80 !default;
$sidebar-nav-link-active-icon-color: #fff !default;
$sidebar-nav-dropdown-color: #acb6bf80 !default;
